.cover-image {
    background-image: url('https://cdn.discordapp.com/attachments/671490777284608039/680574904764334125/Example_Wall_Hard.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

